<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/tensorflow/3.19.0/tf.min.js"></script>
        <script src="https://dcdn.it120.cc/2023/03/18/dbe9644f-27f2-45de-9b8a-9f2bdc600f1f.js"> </script>
        <style>
            body {
                background-color: #efefef;
            }

            [v-cloak] {
                opacity: 0 !important;
            }

            .form {
                max-width: 500px;
                margin: 15px auto;
            }

            .form .form-control {
                resize: none;
            }

            .form .input-group .btn {
                font-size: 14px;
                line-height: 1;
            }

            @media screen and (max-width: 500px) {
                .form {
                    padding: 0 15px;
                }
            }

            .result {
                font-size: 13px;
                line-height: 1.5;
            }

            .result::after {
                content: '|';
                animation: blink 1s infinite;
            }

            @keyframes blink {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        </style>
    </head>

    <body>
        <div id="app" v-cloak>
            <form class="form" @submit.prevent="quiz">

                <div class="alert alert-danger" style="padding: 10px 5px;">
                    <ul class="list-group" style="padding-left: 2em;font-size: 12px;margin:0;">
                        <li>文章内容和问题必须英文（暂不支持中文）。</li>
                        <li>首次提问由于要加载模型需要等待1-2分钟，请你耐心等待。</li>
                    </ul>
                </div>
                <textarea v-model="content" :disabled="disabled" class="form-control" rows="5" placeholder="请输入一篇文章（英文）"
                    required></textarea>
                <div class="input-group" style="margin: 15px 0;">
                    <input v-model="question" :disabled="disabled" @keyup.enter.native="quiz" type="search"
                        class="form-control" placeholder="请输入问题（最多64个字）" maxlength="64" required />
                    <button :disabled="disabled" class="btn btn-primary" type="submit" v-text="butText"></button>
                </div>
                <template v-if="oldContent===content">
                    <i style="display: block;font-size: 13px;margin-bottom: 5px;padding-left: 15px;">点击下列问题提问</i>
                    <ol class="list-group" style="padding-left: 2em;font-size: 12px;margin-bottom: 1em;">
                        <li v-for="(item,index) in q" :key="index" @click="setQuestion(item)" v-text="item"></li>
                    </ol>
                </template>
                <div class="card">
                    <div class="card-body chat">
                        <div class="result" id="result"></div>
                    </div>
                </div>

            </form>
        </div>

        <script>
            const content = `Jack Ma Yun born 10 September 1964 is a Chinese business magnate, investor and philanthropist.    He is the co-founder of Alibaba Group, a multinational technology conglomerate.    In addition, Ma is also the co-founder of Yunfeng Capital, a Chinese private equity firm.    As of January 2023, with a net worth of $34.1 billion, Ma is the fifth-wealthiest person in China (after Zhong Shanshan, Zhang Yiming, Ma Huateng and Robin Zeng), as well as the 34th wealthiest person in the world, ranked by Bloomberg Billionaires Index
Born in Hangzhou, Zhejiang, Ma earned a Bachelor of Art's degree with a major in English upon graduating from Hangzhou Normal University in 1988.   He became an English lecturer and international trade lecturer at Hangzhou Dianzi University following graduation.   Later taking an interest in the emergence of the internet business, he established his first business in 1994, only to end up forming a second company after learning more about the internet and the commercial business possibilities that could be potentially exploited from its emerging growth.   From 1998 to 1999, he led an information technology company founded by the Chinese government, later leaving it to start the Alibaba Group with his colleagues in 1999.   The company was initially founded as B2B e-commerce marketplace website, yet the company later expanded into a wide range of industry domains across the Chinese economy, including e-commerce, high-technology, and online payment solutions.
In 2017, Ma was ranked second in the annual "World's 50 Greatest Leaders" list by Fortune.  He has widely been considered as an informal global ambassador in Chinese business circles, and has continued to remain an influential figure in the Chinese business community and scene of startup companies In September 2018, he announced that he would retire from Alibaba and pursue educational work, philanthropy, and environmental causes;  the following year, Daniel Zhang succeeded him as executive chairman.  In 2020, the Chinese government stopped plans for an IPO called for the digital payment solutions company Ant Group, a company that he founded after he delivered a speech that criticized Chinese financial regulators for putting too much priority in minimizing risk
In 2019, Forbes named Ma in its list of "Asia's 2019 Heroes of Philanthropy" for his humanitarian and philanthropic work supporting underprivileged communities in China, Africa, Australia, and the Middle East.  In April 2021, Jack Ma ranked 26th in the "2021 Forbes Global Rich List" with a fortune of $48.4 billion USD`;
            new Vue({
                el: '#app',
                data: {
                    oldContent:content,
                    content,
                    question: ``,
                    model: null,
                    disabled: false,
                    q:[
                        `Who is the co-founder of Alibaba Group`,
                        `What is Ma's major`,
                        `What country is Jack Ma from`,
                        `Jack Ma graduated from`,
                        `When did Jack Ma set up his first company`,
                        `When will Jack Ma retire`
                    ],
                    butText: `提问`
                },
                methods: {
                    setQuestion(t){
                        if(!this.disabled){
                            this.question = t;
                            this.quiz();
                        }
                    },
                    //提问
                    async quiz() {
                        const content = this.content;
                        const question = this.question;
                        if (!content) {
                            alert('请输入内容');
                        } else if (!question) {
                            alert('请输入问题');
                        } else {
                            result.innerHTML = '';
                            await this.modelInit();
                            this.disabled = true;
                            this.butText = `回答中`;
                            console.log('提问', new Date().toLocaleString());
                            try {
                                const answers = await this.model.findAnswers(question, content);
                                console.log('结果', answers);
                                this.typingAnimation(answers);
                            } catch (error) {
                                console.error(error);
                                alert(`回答失败-${error}`)
                            }

                        }
                    },
                    typingAnimation(answers) {
                        if (!answers || answers.length === 0) {
                            answers = [{ text: `很抱歉！没有找到答案` }]
                        }
                        const SEP = '|';
                        const data = [...new Set(answers.map(e => e.text))].map((e, i) => `${i + 1}、${e}`).join(SEP).split('');

                        const writer= (index)=>{
                            if (index < data.length) {
                                const str = data[index] == SEP ? '<br/>' : data[index];
                                result.innerHTML += str;
                                setTimeout(writer, 80, ++index);
                            } else {
                                this.disabled = false;
                                this.butText = `提问`;
                            }
                        }
                        writer(0);
                    },
                    async modelInit() {
                        if (this.model) {
                            return this.model
                        }
                        this.disabled = true;
                        this.butText = `模型加载中`;
                        this.model = await qna.load({ modelUrl: 'https://storage.googleapis.com/tfhub-tfjs-modules/tensorflow/tfjs-model/mobilebert/1/model.json' });
                        return this.model
                    },
                },
            });
        </script>
    </body>

</html>