<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>兔子</title>
        <style>
            html,
            body,
            #app {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: #333;
            }

            * {
                padding: 0;
                margin: 0;
            }

            :root {
                color-scheme: light dark;
            }

            [v-cloak] {
                opacity: 0 !important;
            }

            canvas {
                display: block;
            }

            .settings .tabs {
                background-color: #1b1b1b;
                position: relative;
                display: flex;
                width: 100%;
            }

            .settings .tabs .tab-item {
                font-size: 13px;
                color: #555;
                border-right: 1px solid #222;
                padding: 9px 15px;
                text-transform: uppercase;
                cursor: default;
                display: inline-block;
                transition: 0.3s;
            }

            .settings .tabs .tab-item.selected {
                color: #888;
                background-color: #111;
            }

            .settings .panels {
                color: #888;
                background-color: #111;
                height: calc(200px - 35px);
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            .settings .panels .row {
                font-size: 12px;
                display: flex;
                align-items: center;
                min-height: 24px;
                margin-bottom: 10px;
            }

            .settings .panels .row .text {
                width: 80px;
                margin-right: 10px;
                word-wrap: break-word;
            }

            .settings .panels .row input {
                background-color: #222;
                border: 1px solid transparent;
                color: #888;
                transition: 0.3s;

            }
            .settings .panels .row select,
            .settings .panels .row input[type="button"]{
                padding: 3px 5px;
                font-size: 12px;
            }
            .settings .panels .row select{
                color: #aaa;
                background-color: #222;
            }
            .settings .panels .row input[disabled] {
                opacity: 0.5;
            }

            .canvas-wrapper {
                position: relative;
            }
            .canvas-wrapper canvas{
                cursor: grab;
            }
            .canvas-wrapper canvas:active{
                cursor: grabbing;
            }
            .canvas-wrapper .viewData {
                user-select: none;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                opacity: 0.7;
                z-index: 3;
            }

            .canvas-wrapper .viewData svg {
                display: block;
            }
        </style>
    </head>

    <body>
        <div id="app" v-cloak>
            <div class="canvas-wrapper">
                <canvas ref="canvas"></canvas>
                <div class="viewData" ref="viewData"></div>
            </div>
            <div class="settings">
                <div class="tabs">
                    <span class="tab-item" :class="{selected:tabSelected===0}" @click="tabSelected=0">动画</span>
                    <span class="tab-item" :class="{selected:tabSelected===1}" @click="tabSelected=1">颜色</span>
                </div>
                <div class="panels" v-if="tabSelected===0">
                    <div style="padding: 15px;">
                        <div class="row">
                            <span class="text">摔倒</span>
                            <input type="radio" value="0" v-model="controls.animat" @change="animatStop">
                        </div>
                        <div class="row">
                            <span class="text">空闲</span>
                            <input type="radio" value="1" v-model="controls.animat" @change="animatStop">
                        </div>
                        <div class="row">
                            <span class="text">奔跑</span>
                            <input type="radio" value="2" v-model="controls.animat" @change="animatStop">
                        </div>
                        <div class="row">
                            <span class="text">关闭动画</span>
                            <input type="radio" value="-1" v-model="controls.animat" @change="animatStop">
                        </div>
                        <div class="row">
                            <span class="text">动画速度</span>
                            <input type="range" min="1" max="5" step="0.1" v-model="controls.speed">
                        </div>
                        <div class="row">
                            <span class="text">自动旋转</span>
                            <input type="checkbox" v-model="controls.autoRotate" @change="control && (control.autoRotate=controls.autoRotate)">
                        </div>
                        <div class="row">
                            <span class="text">旋转速度</span>
                            <input type="range" min="0.5" max="10" step="0.2" v-model="controls.autoRotateSpeed" @change="control && (control.autoRotateSpeed=controls.autoRotateSpeed)" :disabled="!controls.autoRotate">
                        </div>
                    </div>
                </div>
                <div class="panels" v-if="tabSelected===1">
                    <div style="padding: 15px;">
                        <div class="row" v-for="(item,index) in mesh" :key="index">
                            <span class="text">设置颜色-{{index}}</span>
                            <input type="color" v-model="item.color" @change="colorChange($event,index)"
                                :disabled="controls.meshShow">
                        </div>
                        <div class="row">
                            <span class="text">显示网格</span>
                            <input type="checkbox" v-model="controls.meshShow" @change="meshShowChange">
                        </div>
                        <div class="row">
                            <span class="text">网格颜色</span>
                            <input type="color" @change="colorChange($event,'mesh')" :disabled="!controls.meshShow">
                        </div>

                        <div class="row">
                            <span class="text">还原</span>
                            <input type="button" @click="restore" value="确认" />
                        </div>
                        <!-- <div class="row">
                            <span class="text">select</span>
                            <select>
                                <option value="还原">还原还原2</option>
                                <option value="还原">还原还原1</option>
                            </select>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <canvas id="canvas"></canvas> -->
        <!-- https://cdn.jsdelivr.net/npm -->
        <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1.3.6/dist/es-module-shims.min.js"></script>
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.min.js",
                    "three": "https://cdn.jsdelivr.net/npm/three@0.148.0/build/three.module.min.js",
                    "examples/jsm/": "https://cdn.jsdelivr.net/npm/three@0.148.0/examples/jsm/"
                }
            }
        </script>
        <script type="module">
            import Vue from 'vue'
            import * as THREE from 'three';
            import { GLTFLoader } from 'examples/jsm/loaders/GLTFLoader.min.js';
            import { RoomEnvironment } from 'examples/jsm/environments/RoomEnvironment.min.js';
            import { OrbitControls } from 'examples/jsm/controls/OrbitControls.min.js';
            import { DRACOLoader } from 'examples/jsm/loaders/DRACOLoader.min.js';

            new Vue({
                el: '#app',
                data: {
                    scene: null,
                    camera: null,
                    renderer: null,
                    floorGrid: null,
                    light: null,
                    axesHelper: null,
                    control: null,
                    clock: null,
                    mixer: null,
                    task: null,
                    gltf: null,
                    animations: null,
                    mesh: [],
                    tabSelected: 0,
                    controls: {
                        speed: 1,
                        animat: 1,
                        autoRotate:false,
                        autoRotateSpeed:1,
                        meshShow: false,
                        meshColor: '#ffffff',
                    }
                },
                mounted() {
                    this.threeInit();
                    this.loaderGlb();
                },
                methods: {
                    restore(){
                        this.controls.meshShow = false;
                        this.gltf.scene.getObjectByName('Object_9').material = this.gltf.scene.getObjectByName('Object_9').material_original;
                    },
                    meshShowChange() {
                        const { meshShow, meshColor } = this.controls;
                        let index = 0;
                        let event = {
                            target: {
                                value: this.mesh[index].color || 'transparent'
                            }
                        };

                        if (meshShow) {
                            event = {
                                target: {
                                    value: meshColor
                                }
                            };
                            index = 'mesh';
                        }
                        this.colorChange(event, index);
                    },
                    colorChange(event, index) {
                        const color = event.target.value;
                        if (index === "mesh") {
                            this.gltf.scene.getObjectByName('Object_9').material = new THREE.MeshBasicMaterial({
                                transparent: true,
                                wireframe: true,
                                wireframeLinewidth: 1,
                                wireframeLinecap: 'round',//round butt square
                                wireframeLinejoin: 'round',//round bevel miter
                                color: new THREE.Color(color),
                                lights: true,
                            });
                        } else {
                            this.mesh[index].material = new THREE.MeshPhysicalMaterial({
                                color: new THREE.Color(color), metalness: 1.0, roughness: 0.5, clearcoat: 1.0, clearcoatRoughness: 0.03, sheen: 0.5
                            });
                        }

                    },
                    threeInit() {
                        const canvas = this.$refs.canvas;
                        const w = (document.documentElement.clientWidth || window.innerWidth);
                        const h = (document.documentElement.clientHeight || window.innerHeight) - 200;
                        this.scene = new THREE.Scene();
                        this.scene.background = new THREE.Color(`#333`);

                        const fov = 50; // 视野范围
                        const aspect = w / h; // 相机默认值 画布的宽高比
                        const near = 1; // 近平面
                        const far = 100; // 远平面
                        this.camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
                        this.camera.position.set(-5.487, 2.583, 9.513);

                        this.renderer = new THREE.WebGLRenderer({
                            canvas,
                            alpha: true,
                            antialias: true
                        });
                        this.renderer.setPixelRatio(window.devicePixelRatio);
                        this.renderer.setSize(w, h);
                        this.clock = new THREE.Clock();

                        const environment = new RoomEnvironment();
                        const pmremGenerator = new THREE.PMREMGenerator(this.renderer);
                        this.scene.environment = pmremGenerator.fromScene(environment).texture;

                        //添加地面表格
                        this.floorGrid = new THREE.GridHelper(50, 50, 0xffffff, 0xffffff);
                        this.floorGrid.material.opacity = 0.3;
                        this.floorGrid.material.depthWrite = false;
                        this.floorGrid.material.transparent = true;
                        this.scene.add(this.floorGrid);


                        // 地面平铺
                        // const planeSize = 20
                        // const loader = new THREE.TextureLoader()
                        // const texture = loader.load('https://threejs.org/manual/examples/resources/images/checker.png')
                        // texture.wrapS = THREE.RepeatWrapping
                        // texture.wrapT = THREE.RepeatWrapping
                        // texture.magFilter = THREE.NearestFilter
                        // const repeats = planeSize / 2
                        // texture.repeat.set(repeats, repeats)
                        // const planeGeo = new THREE.PlaneGeometry(planeSize, planeSize)
                        // const planeMat = new THREE.MeshPhongMaterial({
                        //     map: texture,
                        //     side: THREE.DoubleSide
                        // })
                        // const mesh = new THREE.Mesh(planeGeo, planeMat)
                        // mesh.rotation.x = Math.PI * -0.5
                        // this.scene.add(mesh)

                        //灯光
                        this.scene.add(new THREE.AmbientLight(0x444444))
                        this.light = new THREE.DirectionalLight(0xffffff)
                        this.light.position.set(0, 20, 20)

                        this.light.castShadow = true
                        this.light.shadow.camera.top = 10
                        this.light.shadow.camera.bottom = -10
                        this.light.shadow.camera.left = -10
                        this.light.shadow.camera.right = 10

                        this.light.castShadow = true
                        this.scene.add(this.light)

                        // 控制器
                        this.control = new OrbitControls(this.camera, this.renderer.domElement);
                        this.control.target = new THREE.Vector3(0, 0, 0); //控制焦点
                        this.control.autoRotate = false;//将自动旋转关闭
                        this.control.autoRotateSpeed = 1;//自动旋转速度

                        this.control.minDistance = 2; //最小放大距离
                        this.control.maxDistance = 35;//最大放大距离

                        // 坐标轴
                        // this.axesHelper = new THREE.AxesHelper(14);
                        // this.axesHelper.name = '坐标轴';
                        // this.axesHelper.visible = false; //隐藏
                        // this.scene.add(this.axesHelper);
                    },
                    loaderGlb() {
                        const dracoLoader = new DRACOLoader();
                        dracoLoader.setDecoderPath('https://cdn.jsdelivr.net/npm/three@0.148.0/examples/jsm/libs/draco/gltf');
                        const loader = new GLTFLoader();
                        loader.setPath('https://dcdn.it120.cc/2023/01/09/');
                        loader.setDRACOLoader(dracoLoader);

                        loader.load(`60075f92-520d-43f7-8f39-e399bb58894d.glb`, (gltf) => {
                            this.gltf = gltf;
                            this.animations = gltf.animations;
                            console.log('gltf', gltf);
                            console.log('animations', gltf.animations);
                            const object = gltf.scene;
                            // object.getObjectByName('Object_8').material = new THREE.MeshBasicMaterial({color: 0xff0000});
                            // object.getObjectByName('Door_R');
                            const box = new THREE.Box3().setFromObject(object)
                            const size = box.getSize(new THREE.Vector3()).length()
                            console.log('size', size);
                            object.scale.setScalar(1);

                            const mesh = this.getMesh(object);
                            this.mesh = mesh;
                            console.log('mesh', mesh);
                            this.mixer = new THREE.AnimationMixer(object)
                            this.scene.add(object);

                            window.cancelAnimationFrame(this.task);
                            this.task = window.requestAnimationFrame(this.render3D);
                        }, xhr => {
                            console.log(`模型加载进度：${(xhr.loaded / xhr.total) * 100}%`);
                        }, error => {
                            console.log("模型加载失败", error);
                        });
                    },
                    getMesh(object) {
                        const meshAll = [];
                        object.traverse(e => {
                            if (e.type === "SkinnedMesh") {
                                e.material_original = e.material;
                                meshAll.push(e);
                                // e.material = new THREE.MeshBasicMaterial({
                                //     transparent: true,
                                //     wireframe:true,
                                //     wireframeLinewidth:1,
                                //     wireframeLinecap:'round',//round butt square
                                //     wireframeLinejoin:'round',//round bevel miter
                                //     color: 0xffffff,
                                //     lights:true,
                                // })
                                if (e.isMesh) e.castShadow = true;
                            }

                        });
                        return meshAll
                    },
                    animatStop() {
                        (this.animations || []).forEach(element => {
                            this.mixer.clipAction(element).stop();
                        });
                    },
                    render3D() {
                        const { speed, animat } = this.controls;
                        animat >= 0 && this.mixer.clipAction(this.animations[animat]).play();
                        this.mixer && this.mixer.update(this.clock.getDelta() * speed);
                        if (this.control) {
                            this.control.update();
                            this.$refs.viewData.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" height="50" version="1.1">
                                                                <text x="10" y="10" style="font-size:8px;font-weight:200;fill:#fff;">
                                                                    <tspan x="10" y="10">AzimuthalAngle：${this.control.getAzimuthalAngle()}</tspan>
                                                                    <tspan x="10" y="23">Distance：${this.control.getDistance()}</tspan>
                                                                    <tspan x="10" y="36">PolarAngle：${this.control.getPolarAngle()}</tspan>
                                                                </text>
                                                            </svg>`;
                            this.$refs.viewData.style.opacity = 0.7;
                        } else {
                            this.$refs.viewData.style.opacity = 0;
                        }


                        this.renderer && this.renderer.render(this.scene, this.camera)
                        this.task = window.requestAnimationFrame(this.render3D);
                    },
                }
            });
        </script>
    </body>

</html>